*{
    margin : 0;
    padding: 0;
}
.navigation{
    display: flex;
    background-color: #000000;
    height: 40px;

}
.my_name{
    color: antiquewhite;
    align-self: center;
}
.Menus {
    display: inline;
    justify-content: right;
    align-self: center;
    
}
button{
    align-self: center;
}